body {
  font-family: sans-serif;
  padding: 20px;
  background: linear-gradient( to right, #ffecd2, #fcb69f);
  max-width: 400px;
  display: flex;
  align-items: center;
}
.container{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(135deg, #ffffff 0% #f0f8ff 100%);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  overflow-y: auto;
  max-height: 800px;
  
}


input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

.song{
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

img{
  width: 50%;
  border-radius: 10px;
}
